<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hazscout Error</title>
    <link rel="stylesheet" href = "{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h1>There was an Error with Hazscout</h1>
    <h2>Possible Errors with Hazscout Search</h2>
    <ul>
        <li>There was no internet, so it failed to fetch the data</li>
        <li>The team you tried searching for isn't valid either because the team doesn't exist, or hasn't played any matches this season, 2024-2025</li>
    </ul>
    <h2>Possible Errors with Hazscout Match Prediction</h2>

    <ul>
        <li>There was no internet, so it failed to fetch the data</li>
        <li>The team you tried searching for isn't valid either because the team doesn't exist, or hasn't played any matches this season, 2024-2025</li>
    </ul>

    <p>if there are any other errors, contact <a href = 'mailto:advikb2011@gmail.com'>advikb2011@gmail.com</a></p>
</body>
</html>
